@import url(https://fonts.googleapis.com/css?family=Geom:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

@theme {
  --font-family-sans: "Geom", sans-serif;
  --color-accent: #ffa62b;
  --animate-fade-in: fade-in 0.5s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  background-color: #000000;
  color: #ffffff;
}
